@import "../../shared/mixins.less";
@import "../../shared/vars.less";

.ErrorModalPortal {

  .ErrorModalContent {
    .flex();
    flex-direction: column;
    align-items: center;
    height: 275*@pixel;

    img {
      height: 75%;
    }
    p {
      color: @black;
    }

    @media @smartphones {
      img {
        height: 50%;
      }
    }
  }
}
