@import "../../shared/mixins.less";
@import "../../shared/vars.less";

.ShowMore {
  // This is changed by .truncate
  overflow: hidden;
  line-height: 1.25em;

  &.show {
    height: 100%;
  }

  &.hide {
    height: 100px;
    :after {
      content: "...";
    }
  }

  .show-text {
    cursor: pointer;
    &:after {
      content: "";
    }
  }
}
