@import "../../shared/mixins.less";
@import "../../shared/vars.less";

.ArticleBlock {
  .flex();
  height: auto;
  //max-height: 100px;
  width: 100%;
  padding-bottom: @xxsmall;
  margin-bottom: @xsmall;
  border-bottom: 1*@pixel solid @dimmedColor;

  &.horizontal {
    border-bottom: none;
  }

  @media @tabletOrSmaller {
    width: 160*@pixel;
  }

  .img-block {
    max-width: 50%;
    img {
      .border-radius(@radius: 3*@pixel);
      width: 100%;
      max-height: 75*@pixel;
    }

    div {
      margin-top: @xxsmall;
      font-size: @emLarge + @emSmall;
    }
  }

  .details {
    padding-left: @small;

    .title {
      font-weight: bold;
      .truncate(@fontSize: 13*@pixel, @linesToShow: 3, @lineHeight: 1em);
    }

    .excerpt {
      font-size: 12px;
      .truncate(@fontSize: 12*@pixel, @linesToShow: 4, @lineHeight: 1.2em)
    }
  }
}
