@import "../../shared/mixins.less";
@import "../../shared/vars.less";

@articleBottomPadding: @small;
@verticalArticleMarginBottom: @xsmall;

.ArticleBlock {
  .flex();
  flex-direction: column;
  height: auto;
  width: 100%;

  &.vertical {
    .content-articles {
      flex-direction: column;
      padding-top: @verticalArticleMarginBottom;

      & > div {
        margin-bottom: @verticalArticleMarginBottom;
      }
    }
  }

  &.horizontal {
    .content-articles {
      flex-direction: row;
      padding-top: @articleBottomPadding;
    }
  }

  .articles-cta {
    margin-bottom: @xxsmall;
  }

  .content-articles {
    border-top: 1*@pixel solid @dimmedColor;
    // direction depends on orientation prop passed
    .flex();

    // Each article div is direct child
    & > div {
      .flex();
      flex-direction: row;
      border-bottom: @pixel solid @dimmedColor;
      padding-bottom: @articleBottomPadding;
      cursor: pointer;

      .img-block {
        max-width: 50%;

        img {
          .border-radius(@radius: 3*@pixel);
          width: 100%;
        }

        div {
          margin-top: @xxsmall;
          font-size: @emLarge + @emSmall;
        }
      }

      .details {
        padding-left: @xsmall;
        padding-right: @xsmall;

        .title {
          .word-break();
          .truncate(@fontSize: 13*@pixel, @linesToShow: 3, @lineHeight: 1em);
          font-weight: bold;
        }

        .excerpt {
          .truncate(@fontSize: 12*@pixel, @linesToShow: 4, @lineHeight: 1.2em);
          .word-break();
          font-size: 12px;
        }
      }
    }
  }
}
