@import "../../shared/mixins.less";
@import "../../shared/vars.less";

@footerPaddingTopBottom: @xxlarge + @medium;
@underlineMarginTop: @xxsmall;
@coolColor: rgb(255, 122, 89);

// TODO: fix squishness at 550px

.Footer {
  // Cause footer to stick to bottom
  flex-shrink: 0;

  .footer-container {
    height: auto;
    background-color: rgba(0,0,0,.8); // or @black
    color: white;
    margin-top: @xxlarge;
    overflow-x: hidden;
    padding-top: @footerPaddingTopBottom;
    padding-bottom: @footerPaddingTopBottom;

    @media @largerThanLaptop {
      padding-left: 10%;
      padding-right: 10%;
    }

    @media @laptopOrSmaller {
      padding-left: 5%;
      padding-right: 5%;
    }

    @media @tabletOrSmaller {
      padding-left: 0;
      padding-right: 0;
    }

    @media @midTabletAndSmaller {
      padding-top: @small;
      padding-bottom: @small;
    }

    .site-link-row {
      .flex();
      justify-content: space-around;

      // Make About title disappear
      @media @midTabletAndSmaller {
        .column:first-of-type {
          .title:first-of-type {
            display: none;
          }
        }
      }

      @media @midTabletAndSmaller {
        flex-direction: column-reverse;
        .column {
          margin-top: @medium;
        }
      }

      .column {
        font-family: Crimson Text, serif;
        text-align: center;
        padding-right: 3%;
        padding-left: 3%;

        &:hover {
          .title {
            .underline {
              width: 100%;

              @media @midTabletAndSmaller {
                width: 0;
              }
            }
          }
        }

        .title {
          display: inline-block;
          text-transform: capitalize;
          font-weight: bold;

          .underline {
            margin-top: @underlineMarginTop;
            height: 2px;
            width: 0;
            background-color: @favoriteColor;
            transition: width .33s;
          }
        }

        .list {
          * {
            margin-top: @small;
          }

          a {
            color: inherit;
          }

          .footer-input {
            margin-top: @xxsmall;
            * {
              height: 30px;
              .border-radius(@radius: 1px);
            }
            input {
              border: none;
              outline: none;
              padding: 0;
              text-indent: 5%;
              font-family: Crimson Text, serif;
              font-size: @emLarge + @emSmall*2;

              &::placeholder {
                text-indent: 5%;
                font-family: Crimson Text, serif;
              }
            }

            button {
              border: none;
              color: @black;
              cursor: pointer;
            }
          }
        }

        &.social-media {
          .social-media-list {
            .flex();
            margin-top: @small;
            justify-content: center;

            & > div {
              //display: inline-block;

              & > div {
                display: inline-block;
                //padding: 5% 7% 5% 5%;
                padding: 5px;
                cursor: pointer;
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}
