@import "../../shared/mixins.less";
@import "../../shared/vars.less";

.SocialMediaBlock {
  padding-top: @medium;
  .flex();
  flex-direction: column;
  position: sticky;
  top: 100px;

  div {
    cursor: pointer;
    padding: 0 @small @large 0;
    transition: bottom .33s;
    bottom: 0;

    &:hover {
      position: relative;
      bottom: 5px;
    }
  }
}
