@import "./shared/mixins.less";
@import "./shared/vars.less";

html, body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  font-size: 1em;
  /* Cause footer to stick to bottom */
  height: 100%;
}

/* Cause footer to stick to bottom */
#root {
  display: flex;
  height: 100%;
  flex-direction: column;
  font-family: @primaryFont;

  & > .content {
    flex: 1 0 auto;
  }

  @media @smartphones {
    min-width: 320px;
  }
}

a {
  color: @black;
  text-decoration: none;

  &:hover {
    color: @favoriteColor;
    text-decoration: none;
  }

  &:any-link {
    text-decoration: none;
  }

  &:focus {
    text-decoration: none;
  }

  &:visited {
    text-decoration: none;
  }
}

// Global fix for the modal overlay, this is so we don't have to make this change everywhere
// and so that we can use the saved less constants
.ReactModal__Overlay {
  z-index: @pinterestSaveButtonZIndex + @levelTwo;
  background-color: @dimmedColor !important;
}

// Makes it so that paragraphs show up closer together in the megadraft editor
.megadraft-editor .paragraph + .paragraph {
  margin-top: 0px;
}