@import "../../shared/vars.less";
@import "../../shared/mixins.less";

.Home {

  .awesome-banner {
    /*
    background-image: url('../../res/bbc_news.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
    */
    p {
      margin: 0;
      top: 150px;
      left: 150px;
      position: relative;
      color: black;
      font-size: 32px;
    }
  }

  .temp {
    .flex();
    align-items: center;
    justify-content: center;
  }

  .article-carousel {
    margin-bottom: @xxlarge;

  }

  .featured-articles {

  }
}